body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1, h2 {
    margin: 0;
}

section {
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

code {
    background-color: #f4f4f4;
    padding: 2px 4px;
    border-radius: 4px;
}
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Additional styles for recipe content */
.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
    padding: 20px 0;
}

.recipe {
    margin-top: 20px;
}

.recipe img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.recipe h2 {
    color: #333;
    text-align: center;
}

.recipe p {
    text-align: justify;
}